<app-data-table
  [columns]="columns()"
  [data]="rows()"
  [loading]="isLoading()"
  [emptyMessage]="emptyMessage()"
  [pagination]="currentPagination()"
  [trackKey]="trackKey()"
  [sortable]="sortable()"
  [initialSort]="initialSort()"
  [columnVisibility]="columnVisibility()"
  [defaultVisibleColumns]="defaultVisibleColumns()"
  [searchQuery]="searchQuery()"
  [searchableText]="searchableText()"
  [filterPredicate]="filterPredicate()"
  [pinFirst]="pinFirst()"
  [rowClass]="rowClass()"
  [pinAction]="pinAction()"
  [columnFilterValues]="columnFilterValues()"
  (pageChange)="onPageChange($event)"
  (rowClick)="rowClick.emit($event)"
  (columnFilterChange)="onColumnFilterChange($event)"
/>
