<app-modal
  [open]="open()"
  title="Enviar arquivo"
  [dismissable]="!sending()"
  (closed)="close()"
>
  <div class="file-upload">
    <div class="file-upload__field">
      <span>Tipo</span>
      <div class="file-upload__tipos">
        @for (option of tipos; track option) {
          <button
            type="button"
            [class.is-active]="tipo() === option"
            (click)="setTipo(option)"
          >
            {{ tipoLabel[option] }}
          </button>
        }
      </div>
    </div>

    <div class="file-upload__field">
      <span>Arquivo</span>
      <label
        class="file-upload__drop"
        [class.is-dragging]="dragging()"
        [class.has-file]="!!file()"
        (dragover)="onDragOver($event)"
        (dragleave)="onDragLeave($event)"
        (drop)="onDrop($event)"
      >
        <input type="file" (change)="pickFile($event)" aria-label="Escolher arquivo" />
        <i
          [class]="file() ? 'fa-solid fa-file-lines' : 'fa-solid fa-paperclip'"
          aria-hidden="true"
        ></i>
        <span class="file-upload__drop-text">
          {{ file()?.name || 'Clique ou arraste um arquivo aqui' }}
        </span>
      </label>
    </div>
  </div>

  <ng-container modalFooter>
    <app-button
      variant="tertiary"
      label="Cancelar"
      [disabled]="sending()"
      (clicked)="close()"
    />
    <app-button
      variant="primary"
      [label]="sending() ? 'Enviando...' : 'Enviar'"
      [disabled]="!file() || sending()"
      (clicked)="submit()"
    />
  </ng-container>
</app-modal>
