<div class="clients-contact-list">
  <div class="clients-contact-list__title">
    <span>E-mails</span>
    <button type="button" (click)="add()">+ E-mail</button>
  </div>

  @for (group of array().controls; track $index; let i = $index) {
    <div class="clients-contact-list__line" [formGroup]="group">
      <button
        type="button"
        class="clients-primary-toggle"
        [class.is-active]="group.controls.principal.value"
        [attr.aria-label]="
          group.controls.principal.value ? 'E-mail principal' : 'Definir como principal'
        "
        (click)="makePrimary(i)"
      >
        <i class="fa-solid fa-star" aria-hidden="true"></i>
      </button>
      <input type="email" formControlName="endereco" placeholder="email@exemplo.com" />
      <button
        type="button"
        class="clients-icon-button"
        aria-label="Remover e-mail"
        (click)="remove(i)"
      >
        <i class="fa-solid fa-minus" aria-hidden="true"></i>
      </button>
    </div>
  } @empty {
    <p class="clients-contact-list__empty">Nenhum e-mail cadastrado.</p>
  }
</div>
